<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdx.kstn.kstn_boggle">

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Boggle Game"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseModeMainActivity"
            android:noHistory="true" />
        <activity
            android:name=".RulesActivity"
            android:noHistory="true" />
        <activity
            android:name=".PlayerActivity"
            android:noHistory="true" />
        <activity
            android:name=".ScoresActivity"
            android:noHistory="true" />
        <activity
            android:name=".GameOver"
            android:noHistory="true" />
        <activity
            android:name=".MultiPlayerActivity"
            android:noHistory="true"></activity>

    </application>

</manifest>